#headnavbar{
    z-index: 999;
}
header{
    min-height: 100px;
}
main{
    padding: 2rem;
}
.rowtitle{
  background: #b1b2c3;
  color: #404040;
  display: flex;
  list-style-type: none;
  padding: 5px 5vw;
}
.banner img{
    width: 100%;
}
.title{
    font-size: 24px;
    margin: 0px 10px;
}
.row{
    display: flex;
    flex-direction: row;
    margin-right: -15px;
    margin-left: -15px;
}
.col{
    flex: 0 0 33.3333333333%;
    max-width: 33.33%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col figure:hover img{
    border-radius: unset;
}
.boxzoom {
    overflow: hidden;
    transition: .5s ease-in-out;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.boxzoom:hover{
    transition: .5s ease-in-out;
    border-radius: 50%;
}
.boxzoom img{
    width: 100%;
}
.seemore a{
    margin: 1rem 0;
    padding: .5rem 2rem;
    color: #333;
    background: #c3c3c7;
}
figure:hover a{
    background: #cccbda;
}
@media screen and (max-width:768px) {
    .topbar{
    display: none !important;
    }
    .navbar>.fa-bars{
        top: .5rem !important;
        right: 3rem !important;
        font-size: 1.5rem !important;
    }
}