#headnavbar{
    z-index: 999;
}
header{
    min-height: 100px;
}
.rowtitle{
  background: #b1b2c3;
  color: #404040;
  display: flex;
  list-style-type: none;
  padding: 5px 5vw;
}
section{
    padding: 2rem;
}
.col{
    max-width: none;
}
#lienhe{
    padding: 0 10rem;
    text-align: center;
}
.col:first-child{
    width: 30%;
    padding: 2rem;
    background: #f7f7f7;
    margin-bottom: 1.5rem;
}
.col:last-child{
    width: 70%;
}
section p{
    color: #333;
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.col>form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.col input,textarea{
    font-family: 'Quicksand', sans-serif;
    overflow: visible;
    display: block;
    width: 45%;
    font-size: .8rem;
    line-height: 1.2;
    box-shadow: inset 1 0 0 1px #e1e1e1;
    background: #fff;
    padding: .5rem;
    margin: 10px 10px 0px 0;
}
textarea{
    width: 91%;
    height: 150px;

}
.row2{
    flex-direction: row;
}
.row2>.col{
    width: 20%;
    padding: 1rem;
    background: #fff;
}
.row2>.col input{
    width: 100%;
}
.row2 .col:nth-child(2){
    width: 60%;
}
.row2 .col:nth-child(3){
    width: 20%;
}
iframe{
    width: 100%;
}
@media screen and (max-width:768px) {
.topbar{
  display: none !important;
}
.navbar>.fa-bars{
    top: .5rem !important;
    right: 3rem !important;
    font-size: 1.5rem !important;
}
}
  